@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: rgb(36, 37, 43);
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    background-color:rgb(36, 37, 43);
    width: 50%;
    height: 100vh;
}
form{
    padding: 1em;
}

label{
    font-size: 1em;
}

input:focus{
    margin-top: 1em;
    transition: 1s;
    font-size: 1.5em;
}

input:not(:focus){
    transition: 1s;
}

input:hover + label{
    font-size: .5em;
}

h1 i{
    color: #ffbb33;
}

i{
    cursor: pointer;
}

i:hover{
    transform: scale(1.3);
    transition: .3s;
}

i:not(:hover){
    transition: .3s;
}


#form-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-header{
    flex-direction: column;
    gap: 1em;
}

#form-header h1{
    font-size: 1.2em;
}

#form-header h1,h2,p{
    text-align: center;
}

.yellow{
    color: #ffbb33;
    cursor: pointer;
    display: inline-block;
}

.yellow:hover{
    transform: scale(1.1);
    transition: .3s;
}

.yellow:not(:hover){
    transition: .3s;
}

.form-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 3em;
}

#gender-section{
    gap: 1em;
}
#gender-section span{
    font-size: 1em;
}

#sex-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

#sex-section i, #sex-section input{
    font-size: 1.5em;
    color: #ffbb33;
}

#sex-section input{
    appearance: none;
    border-radius: 50%;
    width: .7em;
    height: .7em;
    border: 2px solid gray;
    transition: .6s;
    position: relative;
    cursor: pointer;
}

#sex-section input:checked{
    border: 4px solid #ffbb33;
}

.input{
    background-color: transparent;
    color: white;
    outline: none;
    border-bottom: 1px solid gray;
    padding: .5em 2em 1em .5em;
    
}

label{
    cursor: pointer;
}

#buttons-section{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 1em 3em 1em 3em;
    background-color: #ffbb33;
    color: white;
    cursor: pointer;
}

#send{
    background-color: #d4a13b;
}
#send:hover{
    transform: scale(1.3);
    transition: .3s;
}

#send:not(:hover){
    transition: .3s;
}

#clean{
    background-color: orangered;
}

#clean:hover{
    transform: scale(.9);
    transition: .3s;
}

#clean:not(:hover){
    transition: .3s;
}



@media screen and (max-height: 1198px) {
   #container{
    height: auto;
   }
}

@media screen and (max-width: 1330px) {
    #container{
    width: 100%;
    }
 }


