@import url(reset.css);

html{
    scroll-behavior: smooth !important;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(115px,1fr) 4fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    ;
}

#home{
    position: relative;
    width: 100vw;
    height: 100vh; 
    background-image: url('../images/spiders.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden !important;
}

#home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/spiders.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    overflow-x: hidden-peter;
}

body{
    font-family: sans-serif;
    background-color: black;
    overflow-x: hidden;
}

header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    grid-area: header;
}

#logo{
    width: 4em;
}

header ul{
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 1.6em;    
}
::-webkit-scrollbar{
    background-color: black;
    width: .5em;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 10px;
    
}
main{
    grid-area: main;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: .5s;
}

#image-home{
    height: 100%;
    width: 100%;
    filter: grayscale(1);
}

.container-spiders{
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden !important;
}
.container-spiders::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    overflow-x: hidden-peter;
}

.picture{
    width:30%;
    height:40%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    filter: grayscale(1);
    position: relative;
}

.picture-1-peter{
    background-image: url(../images/peter/Peter-1.jpg);
}
.picture-2-peter{
    background-image: url(../images/peter/Peter-2.jpg);
}
.picture-3-peter{
    background-image: url(../images/peter/Peter-3.jpg);
}
.picture-4-peter{
    background-image: url(../images/peter/Peter-4.jpg);
}
.picture-5-peter{
    background-image: url(../images/peter/Peter-5.jpg);
    background-position: left;

}
.picture-6-peter{
    background-image: url(../images/peter/Peter-6.jpg);
}

.picture-1-miles{
    background-image: url(../images/miles/Miles-1.jpg);
}
.picture-2-miles{
    background-image: url(../images/miles/Miles-2.jpg);
}
.picture-3-miles{
    background-image: url(../images/miles/Miles-3.jpg);
}
.picture-4-miles{
    background-image: url(../images/miles/Miles-4.jpg);
}
.picture-5-miles{
    background-image: url(../images/miles/Miles-5.jpg);
    background-position: left;

}
.picture-6-miles{
    background-image: url(../images/miles/Miles-6.jpg);
}

.picture-1-gwen{
    background-image: url(../images/gwen/gwen-1.png);
}
.picture-2-gwen{
    background-image: url(../images/gwen/gwen-2.jpg);
}
.picture-3-gwen{
    background-image: url(../images/gwen/gwen-3.jpg);
}
.picture-4-gwen{
    background-image: url(../images/gwen/gwen-4.jpg);
}
.picture-5-gwen{
    background-image: url(../images/gwen/gwen-5.jpg);
    background-position: left;

}
.picture-6-gwen{
    background-image: url(../images/gwen/gwen-6.jpg);
}


@media screen and (max-width:1023px){
    .picture{
        width: 40%;
    }
    .container-spiders{
        padding-top: 2em;
        padding-bottom: 2em;
        row-gap: 2em;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar{
        width: 2px;
        background-color: rgba(0, 0, 0, 0.356);
    }
    ::-webkit-scrollbar-thumb{
        background-color: gray;
    }
}

@media screen and (max-width:614px){
    html,body{
        overflow-y: hidden !important;
    }
    .picture{
        width: 90%;
        height: 390px;
    }
    .picture-1-peter{
        background-position: right;
    }
    .picture-4-miles{
        background-position: left ;
    }
    .picture-5-miles{
        background-position: center ;
    }
   
    .picture-1-gwen{
        background-position: left ;
    }
    .picture-5-gwen{
        background-position: center ;
    }
    .picture-6-gwen{
        background-position: left ;
    }
  
    .container-spiders::before{
        display: none;
    }
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:469px){
    .picture{
        width: 310px;
    }
    .container{
        grid-template-rows: 60px 4fr;
    }
    #logo{
        width: 2em;
    }
    nav ul li:not(:nth-child(3)){
        display: none !important;
    }
    
}
