@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Title CSS Starts */

    h1{
        margin: 0;
        line-height:1em;
        font-size: 8em;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: lighter;
        z-index: 2;
    }

/* Title CSS Ends */

/* Content CSS Starts */

    main{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 1;
        padding: 2em;
    }
    .image{
        width: 200px;
        height: 350px;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .2em;
        font-size: 1.3em;
        width: 200px;
    }
    .card h2{
        align-self: flex-start;
        font-size: 2em;
    }

    .card p{
        text-align: justify;
        width: 200px;
    }

    .amsterdam{
        align-self: end;
    }

    .card img{
        width: 100%;
        height: 100%;
    }

    .readmore-button{
        align-self: flex-start;
        font-weight: bold;
        color: black;
        cursor: pointer;
        font-size: 1em;
    }
    #content-1,#content-2,#content-3{
        display: none;
    }

/* Content CSS Ends */

/* Media Querry Starts */

@media  screen and (max-width:914px) {
    h1{
       font-size: 6em;
    }
    main{
        justify-content: space-around;
    }
    .card{
        width: 200px;
    }
}
@media  screen and (max-width:735px) {
    h2{
        width: 200px;
    }
   main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10em;
   }
   .amsterdam{
    align-self: center;
   }
   main{
    height: 100%;
   }
   h1{
    font-size: 3em;
    position: relative;
   }
 
}

/* Media Querry Ends */